.component {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.25rem;
	align-items: center;

	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	background: #fafafb;
	border: 1px solid #f1f1f5;
	border-radius: 0.5rem;

	padding-left: 0.65rem;

	transition: box-shadow 0.1s;

	&:focus-within {
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	}

	svg {
		color: #92929d;
	}
}

.input,
.autocomplete {
	appearance: none;
	background: transparent;
	border: none;
	outline: none;
	cursor: text;
	vertical-align: baseline;
}

.input {
	padding: 0.65rem 1rem 0.65rem 0;

	&::placeholder {
		font-size: 14px;
		line-height: 24px;

		letter-spacing: 0.1px;

		color: #92929d;
	}
}

.autocomplete {
	position: absolute;
	display: flex;
	align-items: center;

	top: 0;
	/* padding + icon size + gap */
	left: calc(0.65rem + 20px + 0.25rem);
	height: 100%;
	pointer-events: none;

	opacity: 0.6;

	color: transparent;

	> mark {
		outline: none;
		border: none;

		background-color: #99bdff;

		border-radius: 4px;

		padding: 2px;
		margin: 2px;
	}
}
