.component {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.25rem;
	align-items: center;

	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	background: #fafafb;
	border: 1px solid #f1f1f5;
	border-radius: 0.5rem;

	padding-left: 0.65rem;

	transition: box-shadow 0.1s;

	&:focus-within {
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	}

	svg {
		color: #92929d;
	}
}

.input {
	appearance: none;
	background: transparent;
	border: none;
	outline: none;

	padding: 0.65rem 1rem 0.65rem 0;

	&::placeholder {
		font-size: 14px;
		line-height: 24px;

		letter-spacing: 0.1px;

		color: #92929d;
	}
}
