.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 1.25rem;
}

.toolbar {
	display: flex;
	justify-content: flex-end;
}

.stack {
	display: grid;
	grid-row-gap: 1rem;
}

.center {
	margin-top: 1.25rem;
	display: flex;
	justify-content: center;
}

.noResults {
	display: grid;
	justify-content: center;
	text-align: center;
	color: #696974;

	& .searchTerm {
		color: #0062ff;
	}
}
